div{font-family: "メイリオ" ;

}
div.a{
	color: red;
	font-weight: bold;
	font-size: 150%;
	border-left:10px solid navy;
}
div.b{
	font-weight:bold;
	color:blue;
}
div.c{
	text-decoration:underline;
	font-weight:bold;
}
div.d{
	color: blue;
}
em{
	font-size:80%;
	color: red;
}