<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "vn.com.vti.springexam.mapper.MemberCustomMapper">
	<resultMap type ="vn.com.vti.springexam.entity.MemberCustomized" id = "memberCustomized">
	<id property = "memberId" column = "MEMBER_ID"/>
	<result property = "lastName" column = "LAST_NAME"/>
	<result property = "firstName" column = "FIRST_NAME"/>
	<result property = "birthday" column = "BIRTHDAY"/>
	<result property = "jobTypeName" column = "JOB_TYPE_NAME"/>
	</resultMap>
	
	<select id = "selectByNamePart" resultMap="memberCustomized">
		SELECT
			M.*
			,JT.JOB_TYPE_NAME
		FROM
			MEMBER AS M
			LEFT OUTER JOIN JOB_TYPE AS JT
				ON M.JOB_TYPE_ID = JT.JOB_TYPE_ID
		WHERE
			M.LAST_NAME LIKE #{name}
			OR M.FIRST_NAME LIKE #{name}
		ORDER BY
			M.MEMBER_ID
		</select>	
</mapper>